[Desktop Entry]
Type=Application
Name=LocalSend GTK
GenericName=File Transfer
Comment=An open source cross-platform alternative to AirDrop (GTK4/Wayland)
Exec=localsend-gtk %U
Icon=localsend-gtk
Categories=Network;FileTransfer;Utility;
Terminal=false
StartupNotify=true
MimeType=application/octet-stream;inode/directory;
Keywords=localsend;airdrop;transfer;sharing;lan;network;gtk;
X-Wayland-Native=true
Actions=SendWithLocalSend;

[Desktop Action SendWithLocalSend]
Name=Send with LocalSend GTK
Exec=localsend-gtk %U
